@import url("./colours.css");

#video{
    width: 100%;
    height: 100%;
    /* position: fixed; */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.video-home{
    width: 100%;
    height: 100%;
}
.section-1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.section-1-right{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 1;
    /* background-color: rgba(0, 0, 0, 0.7); */
    padding: 5% 5% 5% 5%;
    position: absolute;
}

a{
    color: var(--WHITE);
    text-decoration: none;
}

nav{
    /* display: inline; */
    width: 100%;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-item{
    margin: 0 2%;
}

.nav-list{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 100%;
    list-style-type: none;
    justify-content: flex-end;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#title{
    color: #ECF0F1;
    font-size: 125px;
    text-align: center;
    font-weight: bold;
    font-family: karla, sans-serif;
    text-shadow: 2px 10px 3px rgb(0 0 0 / 70%);
}

#description{
    font-size: 18px;
    font-family: karla, sans-serif;
    color: #ECF0F1;
    text-shadow: 3px 3px 3px rgb(70, 70, 70);
    padding: 2% 0 0 0;
    text-align: center;
    letter-spacing: 1px;
}

.downloadsBtns{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.downloadIcon{
    margin: 2rem 2rem;
    transition: .2s;
}

.downloadIcon:hover{
    transform: scale(1.25, 1.25);
}

#playstore{
    width: 150px;
}
#appstore{
    width: 150px;
}

#downloadBtn:hover{
    background: transparent;
    border-color: #fff;
}

#logo{
    width: 120px;
    align-self: flex-end;
    margin-right: 2%;
    /* margin-top: 10%; */
}

#icons{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

#icon-item{
    margin: 0 25% 0 25%;
}

.icon-item{
    font-size: 30px;
}
.icons-section-1{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 65%;
}
#comment{
    height: 50px;
    width: 50px;
    align-self: flex-start;
    margin-left: 20%;
    margin-top: 5%;
}

#call{
    height: 50px; 
    width: 50px;
    align-self: flex-end;
    margin-right: 30%;
}

.section-2{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 5% 5% 0 5%;
}

.section-2-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.section-2-left-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-2-icon{
    height: 55px;
}
#message_box{
    width: 65px;
    height: 65px;
    margin: 10% 0;
}

p#section-2-des-2 {
    background: rgb(154,58,217);
    background: linear-gradient(90deg, rgba(154,58,217,1) 0%, rgba(10,43,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}

h1#section-2-description {
    background: rgb(154,58,217);
    background: linear-gradient(90deg, rgba(154,58,217,1) 0%, rgba(10,43,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    font-size: 75px;
    text-align: center;
    margin: 5%;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

h1#section-2-title {
    background: rgb(154,58,217);
    background: linear-gradient(90deg, rgba(154,58,217,1) 0%, rgba(10,43,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 30px;
    text-align: center;
    margin: 3%;
    font-family: 'Karla', sans-serif;
}

.section-2-left-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#kopek{
    height: 175px;
}

#sallananKafa{
    height: 100px;
}

.section-2-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

#section-2-circle{
    position: absolute;
    height: 900px;
}
#section-2-esneyenAdam{
    position: absolute;
    height: 675px;
    top: 35px;
}

.section-3-swapper{
    display: flex;
    justify-content: space-around;
    padding: 3% 4% 3% 4%;
    margin-top: 3%;
    height: 100vh;
    align-items: center;
}

.part-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#swipe-icon{
    width: 175px;
    margin-top: 25%;
}
#section-3-part-1-title{
    color: var(--WHITE);
    font-family: karla;
    font-size: 25px;
    font-weight: bold;
    align-self: flex-start;
    text-align: center;
    margin-top: 10%;    
    background: rgb(154,58,217);
    background: linear-gradient(90deg, rgba(154,58,217,1) 0%, rgba(10,43,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.part-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

#match-icon-1{
    width: 175px;

}
#section-3-part-3-title{
    color: var(--WHITE);
    font-family: karla;
    font-size: 25px;
    font-weight: bold;
    align-self: flex-end;
    text-align: center;
    margin-bottom: 35%;
    margin-top: 10%;
    background: rgb(154,58,217);
    background: linear-gradient(90deg, rgba(154,58,217,1) 0%, rgba(10,43,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

/* section-4 */

.section-4-swapper{
    display: flex;
    justify-content: space-around;
    padding: 3% 4% 3% 4%;
    margin-top: 3%;
    height: 100vh;
    align-items: center;
}


#section-4-part-1-title{
    color: var(--WHITE);
    font-family: karla;
    font-size: 25px;
    font-weight: bold;
    align-self: flex-start;
    text-align: center;
    margin-top: 10%;    
    background: rgb(154,58,217);
    background: linear-gradient(90deg, rgba(154,58,217,1) 0%, rgba(10,43,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
#section-4-part-3-title{
    color: var(--WHITE);
    font-family: karla;
    font-size: 25px;
    font-weight: bold;
    align-self: flex-end;
    text-align: center;
    margin-bottom: 35%;
    background: rgb(154,58,217);
    background: linear-gradient(90deg, rgba(154,58,217,1) 0%, rgba(10,43,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

/* section-5 */
.section-5-swapper{
    display: flex;
    justify-content: space-around;
    padding: 3% 4% 3% 4%;
    margin-top: 3%;
    height: 100vh;
    align-items: center;
}

#section-5-part-1-title{
    color: var(--WHITE);
    font-family: karla;
    font-size: 25px;
    font-weight: bold;
    align-self: flex-start;
    text-align: center;
    margin-top: 10%;    
    background: rgb(154,58,217);
    background: linear-gradient(90deg, rgba(154,58,217,1) 0%, rgba(10,43,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
#section-5-part-3-title{
    color: var(--WHITE);
    font-family: karla;
    font-size: 25px;
    font-weight: bold;
    align-self: flex-end;
    text-align: center;
    margin-bottom: 35%;
    background: rgb(154,58,217);
    background: linear-gradient(90deg, rgba(154,58,217,1) 0%, rgba(10,43,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.section-6-swapper{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.section-6-right{
    width: 50%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lastpage-circle-gif{
    position: absolute;
    justify-self: flex-start;
    height: 225px;
    margin-right: 10rem;
}

#mockup-lastpage{
    position: absolute;
}
#mockup-lastpage-video{
    position: absolute;
    height: 600px;
    z-index: -1;
}
.section-6-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#logo-lastpage{
    width: 150px;
}

.lastpage-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lastpage-title{
    background: rgb(154,58,217);
    background: linear-gradient(90deg, rgba(154,58,217,1) 0%, rgba(10,43,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 36px;
    font-family: karla;
    font-weight: bold;
}

#lastpage-des{
    font-size: 18px;
    font-family: karla;
    font-weight: bold;
    color: #313131dc;
    margin-top: 5%;
}

.last-page-icon{
    background: rgb(154,58,217);
    background: linear-gradient(90deg, rgba(154,58,217,1) 0%, rgba(10,43,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
#icon-item{
    transition: .2s;
}
#icon-item:hover{
    transform: scale(1.5, 1.5);
}
.part-2{
    width: 50%;
    display: flex;
    justify-content: center;
}
.video{
    height: 550px;
    border-radius: 25px;
    box-shadow: -5px 5px 25px #000;
    object-fit: cover;
    margin: 0 2rem 0 2rem;
    width: fit-content;
}

/* Responsive */

/* Large */
@media (min-width: 1201px) {
    
}

/* Desktop */
@media (max-width: 1200px) {
    
}

/* Laptop */
@media (max-width: 1050px) {
    #section-2-circle{
        height: 750px;
    }
   #section-2-esneyenAdam{
       height: 550px;
       margin-top: 0;
   }

   #section-2-description{
       font-size: 64px !important;
   }

   #section-2-des-2{
       font-size: 14px !important;
   }
}

@media (max-width: 932px) {
    .nav-list{
        justify-content: space-around;
    }
    
    .nav-item{
        margin: 0;
    }

    #swipe-icon{
        width: 100px;
    }

    #section-3-part-1-title{
        font-size: 18px;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
   
    #match-icon-1{
        width: 100px;
    }
   #section-3-part-3-title{
    font-size: 18px;
    margin-top: 1.5rem;
    margin-bottom: 0;
       
    }
#section-4-part-1-title{
    font-size: 18px;
    margin-top: 1.5rem;
    margin-bottom: 0;
}
    
   #section-4-part-3-title{
    font-size: 18px;
    margin-top: 1.5rem;
    margin-bottom: 0;
       
    }

    
   #section-5-part-3-title{
    font-size: 18px;
    margin-top: 1.5rem;
    margin-bottom: 0;
       
    }
    #section-5-part-1-title{
        font-size: 18px;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}


@media (max-width: 900px) {
    #title{
        font-size: 100px;
    }

    .section-2-right{
        display: none;
    }

    .section-2-left{
        width: 100%;
    }
   #section-2-description{
       font-size: 75px !important;
    }

    #section-2-des-2{
        font-size: 18px !important;
    }
}


/* Tablets */
@media (max-width: 780px) {
    #title{
        font-size: 80px;
    }
    #playstore{
        width: 120px;
    }
    #appstore{
        width: 120px;
    }
    .icon-item{
        font-size: 26px;
    }

    #section-2-description{
        font-size: 55px !important;
    }
    
    #section-2-des-2{
        font-size: 14px !important;
    }

    .section-3-swapper{
        flex-direction: column;
    }

    .section-4-swapper{
        flex-direction: column;
        justify-content: center;
    }
    .section-5-swapper{
        flex-direction: column;
    }
    .video{
        height: 450px;
        margin: 2rem 0 2rem 0;
    }

    .part-3{
        display: none;
    }

    .part-1{
        height: fit-content;
    }

    .section-6-swapper{
        flex-direction: column;
        margin-top: 3rem;
    }

    .section-6-left{
        width: 100%;
    }
}

/* Phone */
@media (max-width: 480px) {
    .nav-list{
        display: none;
    }
    #playstore{
        width: 100px;
    }
    #appstore{
        width: 100px;
    }
    #title{
        font-size: 50px;
    }

    .icon-item{
        font-size: 24px;
    }
}